workflows/onboarding.json
{
  "name": "Onboarding - Save User Preferences",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "onboard",
        "responseData": "",
        "options": {
          "allowUnauthorizedCerts": false,
          "response": false
        }
      },
      "id": "Webhook_Onboard",
      "name": "Webhook /onboard",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "user_id",
              "value": "={{$json[\"user_id\"]}}"
            },
            {
              "name": "native_language",
              "value": "={{$json[\"native_language\"]}}"
            },
            {
              "name": "target_language",
              "value": "={{$json[\"target_language\"]}}"
            },
            {
              "name": "topic",
              "value": "={{$json[\"topic\"]}}"
            },
            {
              "name": "ai_mood",
              "value": "={{$json[\"ai_mood\"]}}"
            }
          ]
        }
      },
      "id": "Set_Normalize",
      "name": "Set Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "application": "{{$env.AIRTABLE_BASE_ID}}",
        "table": "Users",
        "matchField": "user_id",
        "fields": {
          "fields": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{$json.\"user_id\"}}"
            },
            {
              "fieldId": "native_language",
              "fieldValue": "={{$json.\"native_language\"}}"
            },
            {
              "fieldId": "target_language",
              "fieldValue": "={{$json.\"target_language\"}}"
            },
            {
              "fieldId": "topic",
              "fieldValue": "={{$json.\"topic\"}}"
            },
            {
              "fieldId": "ai_mood",
              "fieldValue": "={{$json.\"ai_mood\"}}"
            }
          ]
        }
      },
      "id": "Airtable_Upsert_User",
      "name": "Airtable Upsert User",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 3,
      "position": [
        800,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "{{$env.AIRTABLE_CREDENTIAL_ID}}",
          "name": "Airtable PAT"
        }
      }
    },
    {
      "parameters": {
        "responseMode": "onReceived",
        "responseData": "={\n  \"status\": \"ok\",\n  \"message\": \"Preferences saved\",\n  \"user_id\": \"{{$json['user_id']}}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "Respond_Onboard",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1080,
        300
      ]
    }
  ],
  "connections": {
    "Webhook /onboard": {
      "main": [
        [
          {
            "node": "Set Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Normalize": {
      "main": [
        [
          {
            "node": "Airtable Upsert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Upsert User": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": ""
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}

